*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

body {
  background-image: radial-gradient(circle, #222, #000 20em);
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 750px;
  overflow: hidden;
}

$width: 8em;
$speed: 12s;

.scene {
  position: relative;
  animation: scene $speed * 2 infinite linear;

  @keyframes scene {
    0% {
      transform: rotateY(360deg) rotateX(-45deg);
    }
    100% {
      transform: rotateY(0deg) rotateX(-45deg);
    }
  }
}

.pentagon {
  position: absolute;
  width: $width;
  height: $width * 0.04;
  animation: sqr $speed infinite linear;

  @keyframes sqr {
    0% {
      top: #{$width * -2};
      transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
      top: #{$width * 2};
      transform: translate(-50%, -50%) rotateY(-144deg);
    }
  }

  $count: 32;
  @for $i from 0 to $count {
    &:nth-child(#{$i + 1}) {
      animation-delay: #{$speed / $count * $i * -1};
    }
  }
}

.side {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #333, #633);
  animation: side $speed infinite ease-in-out;
  animation-delay: inherit;

  @for $i from 0 to 5 {
    &:nth-child(#{$i + 1}) {
      --sideAngle: #{$i * 72deg};
    }
  }

  @keyframes side {
    0% {
      transform: translate(-50%, -50%) rotateY(var(--sideAngle)) translateZ(0em)
        scaleX(0);
    }
    25% {
      transform: translate(-50%, -50%) rotateY(var(--sideAngle))
        translateZ(5.5em) scaleX(1);
    }
    50% {
      transform: translate(-50%, -50%) rotateY(var(--sideAngle))
        translateZ(0.55em) scaleX(0.1);
    }
    75% {
      transform: translate(-50%, -50%) rotateY(var(--sideAngle))
        translateZ(5.5em) scaleX(1);
    }
    100% {
      transform: translate(-50%, -50%) rotateY(var(--sideAngle)) translateZ(0em)
        scaleX(0);
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-image: linear-gradient(90deg, #fff, #faa);
  }
}

